<div class="content p-5">
    <h2 class="text-center p-3">List of contacts</h2>
    <div class="addcontainer">
        <a id="addnew" routerLink="/contact/new">
            <p class="ml-2 mb-2">+</p>
        </a>
        <span class="addspan">Adicionar novo contato</span>
    </div>
    <div *ngIf="!($contacts | async); else showTable" class="text-center my-4">
        <p>Carregando contatos...</p>
    </div>
    <ng-template #showTable>
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let header of contactHeaders">
                        {{ header }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of $contacts | async">
                    <td scope="row">#{{ contact.getId() }}</td>
                    <td>{{ contact.getName() }}</td>
                    <td>{{ contact.getEmail() }}</td>
                    <td>{{ contact.getPhone() }}</td>
                    <td>{{ contact.getCellphone() }}</td>
                    <td>{{ BooleanLabels[contact.isActive().toString()] }}</td>
                    <td>{{ BooleanLabels[contact.isFavorite().toString()] }}</td>
                    <a id="editlink" [routerLink]="['/contact', contact.getId()]">
                        <p>Editar</p>
                    </a>
                </tr>
            </tbody>
        </table>
    </ng-template>
</div>