<h2 class="mx-5 py-3">Edit contact</h2>
<div [ngClass]="error.isError ? 'error show' : 'error'">
    <p>{{error.message}}</p>
</div>
<div [ngClass]="edited.isEdited ? 'edited show' : 'edited'">
    <p>{{edited.message}}</p>
</div>
<div class="p-5">
    <form [formGroup]="profileForm" (ngSubmit)="onSaveContactInfo()">
        <div class="mb-3">
            <label for="name" class="form-label">Contact name</label>
            <input type="text" class="form-control" formControlName="name" id="name" aria-describedby="emailHelp">
            <div *ngIf="profileForm.get('name')?.invalid && profileForm.get('name')?.touched" class="text-danger">
                Name is required.
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Contact email</label>
            <input type="email" formControlName="email" class="form-control" id="email">
            <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="text-danger">
                Email is required.
            </div>
        </div>
        <div class="mb-3">
            <label for="telephone" class="form-label">Contact telephone</label>
            <input type="text" class="form-control" formControlName="telephone" id="telephone">
            <div *ngIf="profileForm.get('telephon')?.invalid && profileForm.get('telephone')?.touched" class="text-danger">
                Telephone is required.
            </div>
        </div>
        <div class="mb-3">
            <label for="cellphone" class="form-label">Contact cellphone</label>
            <input type="text" required class="form-control" formControlName="cellphone" id="cellphone">
            <div *ngIf="profileForm.get('cellphone')?.invalid && profileForm.get('cellphone')?.touched" class="text-danger">
                Cellphone is required.
            </div>
        </div>
        <div class="d-flex gap-2">
            <div class="mb-3 form-check">
                <label class="form-check-label" for="favorite">Favorite</label>
                <input type="checkbox" class="form-check-input" formControlName="favorite" id="favorite">
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label" for="active">Active</label>
                <input type="checkbox" class="form-check-input" formControlName="active" id="active">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>