<h2 class="mx-5 py-3">Create a new contact</h2>
<div class="p-5">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Contact name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contact email</label>
            <input type="email" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contact phone</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contact cellphone</label>
            <input type="text" required class="form-control" id="exampleInputPassword1">
            <div id="emailHelp" class="form-text">Must be unique</div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Favorite</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>